header{
    padding: 30px 30px;
}

.profile-token{
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 30px 30px;
    margin: 5%;
    border-radius: 10px;
}