.profile-token{
    display: flex;
    justify-content: space-between;
    background-color: #678aa7;
    padding: 10px 10px;
    margin: 5%;
    border-radius: 10px;
    color: white;
    font-family: 'Work Sans', sans-serif;
}