.login-page{
    min-height: 100%;
}

.login-section{
    padding-top: 20px;
    padding-bottom: 40px;
    color: #34344A;
}

.create-account{
    background-color: #678aa7;
    padding-top: 20px;
    padding-bottom: 40px;
    color: white;
    min-height: 100%;
}

.login-validation-hidden{
    display:none;
}

.login-validation-shown{
    padding-top: 20px;
    color: red;
}

@media all and (min-width: 600px){
    .login-section, .create-account{
        padding-bottom: 50px;
    }
}