.app-name{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: xx-large;
    font-family: 'Jost', sans-serif;
    color: rgb(173, 173, 173);
}

.Header{
    display: flex;
    justify-content: space-between;
    
}

.name-and-icon{
    display: flex;
    
}

.gift-image{
    height: 50px;
}

.links{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.links > a{
    background-color:  rgb(245, 243, 215);
    border-style: solid;
    text-decoration: none;
    padding: 3px;
    border-width: 1px;
    border-radius: 3px;
    color: darkolivegreen;
    font-weight:600;
    margin-left: 5px;
}

.links>a:hover{
    background-color:  rgb(218, 218, 218);
}


.app-slogan{
    font-family: 'Pacifico', cursive;
    color: rgb(81, 87, 81);
}

.section-header{
    font-family: 'Lato', sans-serif;
}

.app-slogan, .section-header{
    padding: 30px 30px;
}

body{
    text-align: center;
    margin: 0;
}

nav{
    background-color: rgb(253, 255, 144);
    padding: 20px 10px;
}



.profile-section, .create-account-section{
    background-color: rgb(251, 255, 232);
    padding: 30px 30px;
}

.budget-section{
    padding: 30px 30px;
}

footer{
    background-color:rgb(219, 221, 123);
    padding: 30px 30px;
}

.form-item{
    margin: 5px;
}

p{
    margin-left: 15%;
    margin-right: 15%
}