.app-name{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: xx-large;
    font-family: 'Jost', sans-serif;
    color: #f76582;
}

h5{
    margin: 0;
}

.Header{
    /* display: flex; */
    justify-content: space-between;
    padding-bottom: 10px;
}

.name-and-icon{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}

.gift-image{
    height: 50px;
}

.links{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.links > a{
    background-color:  #f7d8c2;
    text-decoration: none;
    padding: 3px;
    border-width: 0;
    border-radius: 3px;
    color: #b94e64;
    font-weight:600;
    margin-left: 5px;
    width: auto;
}

.links>a:hover{
    background-color:  #ceab92;
}


.app-slogan{
    font-family: 'Pacifico', cursive;
    color: #34344A;
}

.section-header{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    margin: 10px 0 30px 0;
}

.app-slogan{
    padding: 30px 30px;
}

body{
    text-align: center;
    margin: 0;
}

p{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

nav{
    background-color: #F0F757;
    padding: 20px 10px;
}

.budget-section{
    background-color: #678aa7;
    padding: 20px 20px 50px 20px;
    color: white;
}

.profile-section{
    padding: 20px 20px 50px 20px;
    color: #34344A; 
}

.form-item{
    margin: 5px;
}

.profile-page-screenshot, .budget-page-screenshot {
    width: 80%;
    border-radius: 10px;
    border-style: solid;
    border-color: #f76582;
    margin-top: 20px;
}


