input{
    margin-right: 5px;
}

input.new-item-name{
    width: 40%;
}

input.new-item-price{
    width: 20%;
}

input.new-item-submit{
    background-color: white;
    color: #34344A;
    border-width: 1px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    height: 22px;
}

input.new-item-submit:hover{
    background-color:  rgb(194, 192, 192);
    cursor: pointer;
}